# Merging main dataframe containing Goodreads book data

In [1]:
# Libraries needed for this notebook
import pandas as pd
import csv

In [2]:
# importing the two main dataframes 
df1 = pd.read_csv('first_1k_main.csv')
df2 = pd.read_csv('remaining_main.csv')

In [3]:
# merging two dataframes into one called main and dropping unnecessary column
main = pd.merge(df1,df2, how='outer')
main = main.drop('Unnamed: 0', axis = 1)
main.head()

,author,author_id,average_rating,book_id,ratings_count,title,title_query
0,Allegra Goodman,16264.0,3.31,7632696.0,11945.0,The Cookbook Collector,THE COOKBOOK COLLECTOR
1,Alexander McCall Smith,4738.0,3.72,13642130.0,3932.0,The Uncommon Appeal of Clouds (Isabel Dalhousi...,THE UNCOMMON APPEAL OF CLOUDS
2,Cathleen Schine,127216.0,2.90,6670347.0,7598.0,The Three Weissmanns of Westport,THE THREE WEISSMANNS OF WESTPORT
3,Amanda Quick,42211.0,4.03,6908832.0,7193.0,"Burning Lamp (Arcane Society, #8; Dreamlight T...",BURNING LAMP
4,Jennifer Chiaverini,11630.0,3.86,6654118.0,3777.0,"The Aloha Quilt (Elm Creek Quilts, #16)",THE ALOHA QUILT

In [4]:
# upper-casing the contents in column title before running the comparison
series = main['title_query']
main['title'] = series.str.upper()
main.head()

,author,author_id,average_rating,book_id,ratings_count,title,title_query
0,Allegra Goodman,16264.0,3.31,7632696.0,11945.0,THE COOKBOOK COLLECTOR,THE COOKBOOK COLLECTOR
1,Alexander McCall Smith,4738.0,3.72,13642130.0,3932.0,THE UNCOMMON APPEAL OF CLOUDS,THE UNCOMMON APPEAL OF CLOUDS
2,Cathleen Schine,127216.0,2.90,6670347.0,7598.0,THE THREE WEISSMANNS OF WESTPORT,THE THREE WEISSMANNS OF WESTPORT
3,Amanda Quick,42211.0,4.03,6908832.0,7193.0,BURNING LAMP,BURNING LAMP
4,Jennifer Chiaverini,11630.0,3.86,6654118.0,3777.0,THE ALOHA QUILT,THE ALOHA QUILT

In [5]:
title_match = []
for index,row in main.iterrows():
    try:
        title_match.append(row['title'][0].startswith(row['title_query'][0]))
    except:
        title_match.append(False)
        print(row['title'],row['title_query'])

nan nan
nan nan
nan nan

In [6]:
# Number of true title matches
sum(title_match)

2297

In [7]:
# Number of false title mathces
len(title_match) - sum(title_match)

3

In [8]:
# Adding new column to main dataframe containing results of the title_match
main["title_match"] = title_match

In [9]:
main.head()

,author,author_id,average_rating,book_id,ratings_count,title,title_query,title_match
0,Allegra Goodman,16264.0,3.31,7632696.0,11945.0,THE COOKBOOK COLLECTOR,THE COOKBOOK COLLECTOR,True
1,Alexander McCall Smith,4738.0,3.72,13642130.0,3932.0,THE UNCOMMON APPEAL OF CLOUDS,THE UNCOMMON APPEAL OF CLOUDS,True
2,Cathleen Schine,127216.0,2.90,6670347.0,7598.0,THE THREE WEISSMANNS OF WESTPORT,THE THREE WEISSMANNS OF WESTPORT,True
3,Amanda Quick,42211.0,4.03,6908832.0,7193.0,BURNING LAMP,BURNING LAMP,True
4,Jennifer Chiaverini,11630.0,3.86,6654118.0,3777.0,THE ALOHA QUILT,THE ALOHA QUILT,True

In [10]:
title_match

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 ...]

# Merging author dataframes containing author data

In [11]:
dfa1 = pd.read_csv('auth_list1.csv')
dfa2 = pd.read_csv('auth_list2.csv')

In [12]:
main_a = pd.merge(dfa1,dfa2, how='outer')
main_a = main_a.drop('Unnamed: 0', axis = 1)
main_a = main_a[['author_id','gender']].drop_duplicates()
main_a.sort_values(by='author_id')
main_a

       author_id  gender
0      3453636.0  female
1         9226.0    male
2        17061.0    None
3       389474.0    male
5        27847.0  female
6        76671.0    male
7       427437.0  female
8        16290.0  female
9         5023.0    None
10     2559520.0    male
11        2493.0  female
12       20950.0    male
13       11630.0  female
14       29085.0    None
15        2384.0  female
16       27932.0    male
17       11349.0  female
18        3780.0    male
19       14610.0    male
20        7025.0    male
22        2929.0    male
23     1530227.0    None
24       32498.0    None
25       18411.0    male
26      138518.0    male
27        3490.0  female
28     1676417.0    None
29       46097.0    male
30         625.0  female
32       38550.0    male
...          ...     ...
1179    253901.0  female
1187     23613.0  female
1189   5010374.0  female
1194    292970.0    None
1198      2423.0  female
1209      6876.0    None
1211     10039.0    male
1221   5192439.0  female
1223   4601855.0  female
1228  17133759.0    None
1229      1441.0    male
1231   1226977.0    None
1237      3670.0  female
1243     20850.0    male
1244   8136264.0    None
1248     17148.0  female
1252    634694.0    male
1253     10896.0    male
1257    535902.0    male
1258     23510.0    male
1259    577112.0    None
1261     11746.0  female
1267    157146.0  female
1276   2936493.0  female
1281    383606.0  female
1284      2046.0  female
1290   1983563.0  female
1291     25307.0  female
1295   2783820.0    male
1296     19811.0  female

[654 rows x 2 columns]

# Merging books dataframe containing book pages data

In [13]:
dfb1 = pd.read_csv('books_data1.csv')
dfb2 = pd.read_csv('books_data2.csv')

In [14]:
main_b = pd.merge(dfb1,dfb2, how='outer')
main_b = main_b.drop('Unnamed: 0', axis = 1)
main_b.shape

(1300, 2)

In [15]:
main_b = main_b[['book_id','num_pages']].drop_duplicates()
main_b.shape

(1279, 2)

# Add author info to main dataframe

In [16]:
main = pd.merge(main, main_a, how='left', on='author_id')
main

,author,author_id,average_rating,book_id,ratings_count,title,title_query,title_match,gender
0,Allegra Goodman,16264.0,3.31,7632696.0,11945.0,THE COOKBOOK COLLECTOR,THE COOKBOOK COLLECTOR,True,NaN
1,Alexander McCall Smith,4738.0,3.72,13642130.0,3932.0,THE UNCOMMON APPEAL OF CLOUDS,THE UNCOMMON APPEAL OF CLOUDS,True,male
2,Cathleen Schine,127216.0,2.90,6670347.0,7598.0,THE THREE WEISSMANNS OF WESTPORT,THE THREE WEISSMANNS OF WESTPORT,True,female
3,Amanda Quick,42211.0,4.03,6908832.0,7193.0,BURNING LAMP,BURNING LAMP,True,None
4,Jennifer Chiaverini,11630.0,3.86,6654118.0,3777.0,THE ALOHA QUILT,THE ALOHA QUILT,True,female
5,Louise Penny,194243.0,4.20,16045144.0,35792.0,THE BEAUTIFUL MYSTERY,THE BEAUTIFUL MYSTERY,True,NaN
6,Tess Gerritsen,18149.0,4.10,2653622.0,29612.0,THE KEEPSAKE,THE KEEPSAKE,True,female
7,Patrick Rothfuss,108424.0,4.58,1215032.0,346792.0,THE WISE MAN'S FEAR,THE WISE MAN'S FEAR,True,male
8,Kate Morton,615274.0,4.05,21104828.0,81203.0,THE LAKE HOUSE,THE LAKE HOUSE,True,None
9,Susan Elizabeth Phillips,41313.0,4.08,8437379.0,19182.0,CALL ME IRRESISTIBLE,CALL ME IRRESISTIBLE,True,female
10,Christina Baker Kline,157146.0,3.87,30255942.0,47666.0,A PIECE OF THE WORLD,A PIECE OF THE WORLD,True,female
11,Debbie Macomber,11349.0,4.04,16156294.0,11497.0,ROSE HARBOR IN BLOOM,ROSE HARBOR IN BLOOM,True,female
12,Roma Downey,435808.0,4.24,15789630.0,491.0,THE STORY OF GOD AND ALL OF US,THE STORY OF GOD AND ALL OF US,True,None
13,James Lee Burke,7031.0,4.00,6238661.0,4559.0,RAIN GODS,RAIN GODS,True,male
14,Johanna Lindsey,29542.0,3.98,7125012.0,6079.0,THAT PERFECT SOMEONE,THAT PERFECT SOMEONE,True,female
15,Suzanne Collins,153394.0,4.33,2767052.0,5629612.0,THE GAMES,THE GAMES,True,female
16,James Patterson,3780.0,3.92,14781501.0,29467.0,NYPD RED,NYPD RED,True,male
17,Lauren Wilkinson,17287509.0,3.96,40274582.0,82.0,AN AMERICAN SPY,AN AMERICAN SPY,True,female
18,Dean Koontz,9355.0,4.14,15722284.0,16771.0,SAINT ODD,SAINT ODD,True,None
19,Ruth Ware,9013543.0,3.68,27834600.0,150137.0,"IN A DARK, DARK WOOD","IN A DARK, DARK WOOD",True,None
20,Richard Paul Evans,46097.0,4.15,23058989.0,10312.0,THE MISTLETOE PROMISE,THE MISTLETOE PROMISE,True,male
21,Sandra Brown,6218.0,3.96,29203612.0,18194.0,STING,STING,True,female
22,Iris Johansen,32498.0,4.08,23847964.0,3997.0,SHADOW PLAY,SHADOW PLAY,True,None
23,Wally Lamb,3505.0,3.81,3086160.0,53248.0,THE HOUR I FIRST BELIEVED,THE HOUR I FIRST BELIEVED,True,male
24,Robert Galbraith,383606.0,4.22,40611999.0,129310.0,CAREER OF EVIL,CAREER OF EVIL,True,female
25,Dan Simmons,2687.0,4.02,11279.0,17233.0,THE NIGHT SEASON,THE NIGHT SEASON,True,NaN
26,Mark Helprin,8146.0,3.47,13391073.0,3365.0,IN SUNLIGHT AND IN SHADOW,IN SUNLIGHT AND IN SHADOW,True,male
27,Richard Castle,1953433.0,3.97,17336666.0,8793.0,DEADLY HEAT,DEADLY HEAT,True,male
28,Leila Sales,3390621.0,3.69,10637697.0,5895.0,PAST PERFECT,PAST PERFECT,True,female
29,Rainbow Rowell,4208569.0,3.55,18081809.0,139762.0,LANDLINE,LANDLINE,True,None
...,...,...,...,...,...,...,...,...,...
2270,Steve Berry,3621.0,3.89,3124122.0,16058.0,THE CHARLEMAGNE PURSUIT,THE CHARLEMAGNE PURSUIT,True,male
2271,Alexander McCall Smith,4738.0,4.11,17345190.0,11281.0,THE MINOR ADJUSTMENT BEAUTY SALON,THE MINOR ADJUSTMENT BEAUTY SALON,True,male
2272,Michael Brandman,4678962.0,3.97,13573363.0,5351.0,ROBERT B PARKER'S FOOL ME TWICE,ROBERT B PARKER'S FOOL ME TWICE,True,male
2273,Danielle Steel,14255.0,3.94,22551744.0,6525.0,PRODIGAL SON,PRODIGAL SON,True,female
2274,Kristin Hannah,54493.0,4.56,21853621.0,478887.0,THE NIGHTINGALE,THE NIGHTINGALE,True,female
2275,Randy Wayne White,27932.0,3.65,11890814.0,1726.0,CHASING MIDNIGHT,CHASING MIDNIGHT,True,male
2276,Lauren Oliver,2936493.0,3.91,6482837.0,267963.0,BEFORE THE FALL,BEFORE THE FALL,True,female
2277,Elizabeth Strout,97313.0,3.51,25893709.0,90207.0,MY NAME IS LUCY BARTON,MY NAME IS LUCY BARTON,True,female
2278,Janet Evanovich,2384.0,3.79,28686830.0,34971.0,TURBO TWENTY-THREE,TURBO TWENTY-THREE,True,female
2279,Maeve Binchy,3532.0,3.66,18050097.0,9412.0,CHESTNUT STREET,CHESTNUT STREET,True,female
2280,Elin Hilderbrand,88301.0,3.83,18656006.0,27292.0,THE MATCHMAKER,THE MATCHMAKER,True,None
2281,Robert Galbraith,383606.0,3.85,16160797.0,410403.0,THE CUCKOO'S CALLING,THE CUCKOO'S CALLING,True,female
2282,John Hart,47072.0,4.09,10024937.0,12419.0,IRON HOUSE,IRON HOUSE,True,male
2283,B.A. Paris,14425604.0,3.90,31450633.0,54055.0,THE BREAKDOWN,THE BREAKDOWN,True,None
2284,Alison Lurie,2046.0,3.74,202897.0,8702.0,FOREIGN AFFAIRS,FOREIGN AFFAIRS,True,female
2285,Jeff Lindsay,10482.0,3.57,17262204.0,7274.0,THE FINAL CUT,THE FINAL CUT,True,None
2286,Tim Dorsey,27017.0,4.13,6672751.0,2278.0,GATOR A-GO-GO,GATOR A-GO-GO,True,male
2287,Alex Berenson,195905.0,4.05,15815367.0,4523.0,THE NIGHT RANGER,THE NIGHT RANGER,True,None
2288,Jacqueline Winspear,5023.0,3.69,18695272.0,6250.0,THE CARE AND MANAGEMENT OF LIES,THE CARE AND MANAGEMENT OF LIES,True,None
2289,Vince Flynn,14989.0,4.32,3313418.0,43173.0,EXTREME MEASURES,EXTREME MEASURES,True,male
2290,Emma Straub,1983563.0,3.15,18641982.0,56420.0,THE VACATIONERS,THE VACATIONERS,True,female
2291,Robin Hobb,25307.0,4.51,40610956.0,24364.0,FOOL'S QUEST,FOOL'S QUEST,True,female
2292,Kristin Hannah,54493.0,4.33,34912895.0,171535.0,THE GREAT ALONE,THE GREAT ALONE,True,female
2293,Rita Mae Brown,23511.0,3.74,3190662.0,1998.0,SANTA CLAWED,SANTA CLAWED,True,female
2294,Jennifer Weiner,9212.0,3.50,6066819.0,55509.0,FRIENDS FOREVER,FRIENDS FOREVER,True,female
2295,Oliver Pötzsch,2783820.0,3.73,9496240.0,62414.0,HANGMAN,HANGMAN,True,male
2296,Terri Blackstock,19811.0,4.16,6322079.0,4947.0,INTERVENTION,INTERVENTION,True,female
2297,Christie Golden,7710.0,4.06,13260060.0,3463.0,JAINA PROUDMOORE: TIDES OF WAR,JAINA PROUDMOORE: TIDES OF WAR,True,female
2298,Mary Higgins Clark,99044.0,3.68,6629816.0,8586.0,THE SHADOW OF YOUR SMILE,THE SHADOW OF YOUR SMILE,True,female
2299,Ken Follett,3447.0,4.32,12959233.0,106800.0,WINTER OF THE WORLD,WINTER OF THE WORLD,True,None

# Add book info to main dataframe

In [17]:
main = pd.merge(main, main_b, how='left', on = 'book_id')
main

,author,author_id,average_rating,book_id,ratings_count,title,title_query,title_match,gender,num_pages
0,Allegra Goodman,16264.0,3.31,7632696.0,11945.0,THE COOKBOOK COLLECTOR,THE COOKBOOK COLLECTOR,True,NaN,NaN
1,Alexander McCall Smith,4738.0,3.72,13642130.0,3932.0,THE UNCOMMON APPEAL OF CLOUDS,THE UNCOMMON APPEAL OF CLOUDS,True,male,288
2,Cathleen Schine,127216.0,2.90,6670347.0,7598.0,THE THREE WEISSMANNS OF WESTPORT,THE THREE WEISSMANNS OF WESTPORT,True,female,295
3,Amanda Quick,42211.0,4.03,6908832.0,7193.0,BURNING LAMP,BURNING LAMP,True,None,340
4,Jennifer Chiaverini,11630.0,3.86,6654118.0,3777.0,THE ALOHA QUILT,THE ALOHA QUILT,True,female,NaN
5,Louise Penny,194243.0,4.20,16045144.0,35792.0,THE BEAUTIFUL MYSTERY,THE BEAUTIFUL MYSTERY,True,NaN,NaN
6,Tess Gerritsen,18149.0,4.10,2653622.0,29612.0,THE KEEPSAKE,THE KEEPSAKE,True,female,NaN
7,Patrick Rothfuss,108424.0,4.58,1215032.0,346792.0,THE WISE MAN'S FEAR,THE WISE MAN'S FEAR,True,male,NaN
8,Kate Morton,615274.0,4.05,21104828.0,81203.0,THE LAKE HOUSE,THE LAKE HOUSE,True,None,495
9,Susan Elizabeth Phillips,41313.0,4.08,8437379.0,19182.0,CALL ME IRRESISTIBLE,CALL ME IRRESISTIBLE,True,female,385
10,Christina Baker Kline,157146.0,3.87,30255942.0,47666.0,A PIECE OF THE WORLD,A PIECE OF THE WORLD,True,female,352
11,Debbie Macomber,11349.0,4.04,16156294.0,11497.0,ROSE HARBOR IN BLOOM,ROSE HARBOR IN BLOOM,True,female,NaN
12,Roma Downey,435808.0,4.24,15789630.0,491.0,THE STORY OF GOD AND ALL OF US,THE STORY OF GOD AND ALL OF US,True,None,352
13,James Lee Burke,7031.0,4.00,6238661.0,4559.0,RAIN GODS,RAIN GODS,True,male,434
14,Johanna Lindsey,29542.0,3.98,7125012.0,6079.0,THAT PERFECT SOMEONE,THAT PERFECT SOMEONE,True,female,372
15,Suzanne Collins,153394.0,4.33,2767052.0,5629612.0,THE GAMES,THE GAMES,True,female,374
16,James Patterson,3780.0,3.92,14781501.0,29467.0,NYPD RED,NYPD RED,True,male,512
17,Lauren Wilkinson,17287509.0,3.96,40274582.0,82.0,AN AMERICAN SPY,AN AMERICAN SPY,True,female,304
18,Dean Koontz,9355.0,4.14,15722284.0,16771.0,SAINT ODD,SAINT ODD,True,None,NaN
19,Ruth Ware,9013543.0,3.68,27834600.0,150137.0,"IN A DARK, DARK WOOD","IN A DARK, DARK WOOD",True,None,NaN
20,Richard Paul Evans,46097.0,4.15,23058989.0,10312.0,THE MISTLETOE PROMISE,THE MISTLETOE PROMISE,True,male,NaN
21,Sandra Brown,6218.0,3.96,29203612.0,18194.0,STING,STING,True,female,NaN
22,Iris Johansen,32498.0,4.08,23847964.0,3997.0,SHADOW PLAY,SHADOW PLAY,True,None,NaN
23,Wally Lamb,3505.0,3.81,3086160.0,53248.0,THE HOUR I FIRST BELIEVED,THE HOUR I FIRST BELIEVED,True,male,740
24,Robert Galbraith,383606.0,4.22,40611999.0,129310.0,CAREER OF EVIL,CAREER OF EVIL,True,female,NaN
25,Dan Simmons,2687.0,4.02,11279.0,17233.0,THE NIGHT SEASON,THE NIGHT SEASON,True,NaN,NaN
26,Mark Helprin,8146.0,3.47,13391073.0,3365.0,IN SUNLIGHT AND IN SHADOW,IN SUNLIGHT AND IN SHADOW,True,male,705
27,Richard Castle,1953433.0,3.97,17336666.0,8793.0,DEADLY HEAT,DEADLY HEAT,True,male,291
28,Leila Sales,3390621.0,3.69,10637697.0,5895.0,PAST PERFECT,PAST PERFECT,True,female,306
29,Rainbow Rowell,4208569.0,3.55,18081809.0,139762.0,LANDLINE,LANDLINE,True,None,310
...,...,...,...,...,...,...,...,...,...,...
2270,Steve Berry,3621.0,3.89,3124122.0,16058.0,THE CHARLEMAGNE PURSUIT,THE CHARLEMAGNE PURSUIT,True,male,None
2271,Alexander McCall Smith,4738.0,4.11,17345190.0,11281.0,THE MINOR ADJUSTMENT BEAUTY SALON,THE MINOR ADJUSTMENT BEAUTY SALON,True,male,242
2272,Michael Brandman,4678962.0,3.97,13573363.0,5351.0,ROBERT B PARKER'S FOOL ME TWICE,ROBERT B PARKER'S FOOL ME TWICE,True,male,None
2273,Danielle Steel,14255.0,3.94,22551744.0,6525.0,PRODIGAL SON,PRODIGAL SON,True,female,318
2274,Kristin Hannah,54493.0,4.56,21853621.0,478887.0,THE NIGHTINGALE,THE NIGHTINGALE,True,female,440
2275,Randy Wayne White,27932.0,3.65,11890814.0,1726.0,CHASING MIDNIGHT,CHASING MIDNIGHT,True,male,336
2276,Lauren Oliver,2936493.0,3.91,6482837.0,267963.0,BEFORE THE FALL,BEFORE THE FALL,True,female,473
2277,Elizabeth Strout,97313.0,3.51,25893709.0,90207.0,MY NAME IS LUCY BARTON,MY NAME IS LUCY BARTON,True,female,193
2278,Janet Evanovich,2384.0,3.79,28686830.0,34971.0,TURBO TWENTY-THREE,TURBO TWENTY-THREE,True,female,288
2279,Maeve Binchy,3532.0,3.66,18050097.0,9412.0,CHESTNUT STREET,CHESTNUT STREET,True,female,368
2280,Elin Hilderbrand,88301.0,3.83,18656006.0,27292.0,THE MATCHMAKER,THE MATCHMAKER,True,None,368
2281,Robert Galbraith,383606.0,3.85,16160797.0,410403.0,THE CUCKOO'S CALLING,THE CUCKOO'S CALLING,True,female,455
2282,John Hart,47072.0,4.09,10024937.0,12419.0,IRON HOUSE,IRON HOUSE,True,male,421
2283,B.A. Paris,14425604.0,3.90,31450633.0,54055.0,THE BREAKDOWN,THE BREAKDOWN,True,None,328
2284,Alison Lurie,2046.0,3.74,202897.0,8702.0,FOREIGN AFFAIRS,FOREIGN AFFAIRS,True,female,292
2285,Jeff Lindsay,10482.0,3.57,17262204.0,7274.0,THE FINAL CUT,THE FINAL CUT,True,None,352
2286,Tim Dorsey,27017.0,4.13,6672751.0,2278.0,GATOR A-GO-GO,GATOR A-GO-GO,True,male,336
2287,Alex Berenson,195905.0,4.05,15815367.0,4523.0,THE NIGHT RANGER,THE NIGHT RANGER,True,None,387
2288,Jacqueline Winspear,5023.0,3.69,18695272.0,6250.0,THE CARE AND MANAGEMENT OF LIES,THE CARE AND MANAGEMENT OF LIES,True,None,319
2289,Vince Flynn,14989.0,4.32,3313418.0,43173.0,EXTREME MEASURES,EXTREME MEASURES,True,male,448
2290,Emma Straub,1983563.0,3.15,18641982.0,56420.0,THE VACATIONERS,THE VACATIONERS,True,female,292
2291,Robin Hobb,25307.0,4.51,40610956.0,24364.0,FOOL'S QUEST,FOOL'S QUEST,True,female,757
2292,Kristin Hannah,54493.0,4.33,34912895.0,171535.0,THE GREAT ALONE,THE GREAT ALONE,True,female,None
2293,Rita Mae Brown,23511.0,3.74,3190662.0,1998.0,SANTA CLAWED,SANTA CLAWED,True,female,237
2294,Jennifer Weiner,9212.0,3.50,6066819.0,55509.0,FRIENDS FOREVER,FRIENDS FOREVER,True,female,368
2295,Oliver Pötzsch,2783820.0,3.73,9496240.0,62414.0,HANGMAN,HANGMAN,True,male,448
2296,Terri Blackstock,19811.0,4.16,6322079.0,4947.0,INTERVENTION,INTERVENTION,True,female,324
2297,Christie Golden,7710.0,4.06,13260060.0,3463.0,JAINA PROUDMOORE: TIDES OF WAR,JAINA PROUDMOORE: TIDES OF WAR,True,female,352
2298,Mary Higgins Clark,99044.0,3.68,6629816.0,8586.0,THE SHADOW OF YOUR SMILE,THE SHADOW OF YOUR SMILE,True,female,319
2299,Ken Follett,3447.0,4.32,12959233.0,106800.0,WINTER OF THE WORLD,WINTER OF THE WORLD,True,None,940

In [18]:
main.shape

(2300, 10)

In [19]:
main.loc[main['title_match'] == False]

,author,author_id,average_rating,book_id,ratings_count,title,title_query,title_match,gender,num_pages
938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,None,NaN
1493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,None,NaN
1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,None,NaN

In [20]:
main = main.drop([938, 1493, 1912])

In [21]:
main.loc[main['title_match'] == False]

Empty DataFrame
Columns: [author, author_id, average_rating, book_id, ratings_count, title, title_query, title_match, gender, num_pages]
Index: []

In [22]:
main.head()

,author,author_id,average_rating,book_id,ratings_count,title,title_query,title_match,gender,num_pages
0,Allegra Goodman,16264.0,3.31,7632696.0,11945.0,THE COOKBOOK COLLECTOR,THE COOKBOOK COLLECTOR,True,NaN,NaN
1,Alexander McCall Smith,4738.0,3.72,13642130.0,3932.0,THE UNCOMMON APPEAL OF CLOUDS,THE UNCOMMON APPEAL OF CLOUDS,True,male,288
2,Cathleen Schine,127216.0,2.90,6670347.0,7598.0,THE THREE WEISSMANNS OF WESTPORT,THE THREE WEISSMANNS OF WESTPORT,True,female,295
3,Amanda Quick,42211.0,4.03,6908832.0,7193.0,BURNING LAMP,BURNING LAMP,True,None,340
4,Jennifer Chiaverini,11630.0,3.86,6654118.0,3777.0,THE ALOHA QUILT,THE ALOHA QUILT,True,female,NaN

In [ ]:
main.to_csv('final_goodr')